*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}



.box .form .inputBox button .btn
{
    background:#fff;
    color:#111;
    max-width: 100px;
    padding:8px 10px;
    box-shadow:none;
    font-weight:500;
    letter-spacing:1px;
    cursor:pointer;
}